table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background: #f7faff;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}

th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eaf2ff;
}
